body{
	background-color: #fff3ee;
}

.top{
	background-color: #FFF;
	position: fixed;
	padding-top: 20px;
	border-bottom: 2px solid #999;
}

.tag-img, .center{
  text-align: center; 
}

.tag-img{
	
}

.center{
	padding: 10px 120px;
}

input[type="button"].login-btn{
	background:#FF976D;
	color: #FFF;
	border:0 1px 1px 0 solid #ccc;
	  -moz-border-radius: 15px;
	  -webkit-border-radius: 15px;
	border-radius: 15px;
	font-size: 18px;
	text-decoration: none;
	text-shadow: 0 1px rgba(153, 153, 153, .75);
	float: right;
	margin: 0;
}

input[type="button"].fb-link{
	background:#FFF;
	color: #FF976D;
	border: 3px solid #FF976D;
}